{% extends "base.html" %}

{% load static %}

{% block content %}

      <!-- Header-->
      <header class="masthead text-center text-white pb-0">
        <div class="masthead-content container px-5">
            <div class=" row flex-lg-row-reverse align-items-center g-5">
                <div class="col-11 col-sm-8 col-lg-6 d-flex justify-content-center ">
                   

                        <img src="{% static 'img/couple1.jpg' %}" class="d-block mx-lg-auto img-fluid  " alt="Bootstrap Themes" loading="lazy">
                    
                </div>
                <div class="col-lg-6 pb-4  ">
                    <h1 class="masthead-heading mb-0">Find</h1>
                    <h2 class="masthead-subheading mb-0">Your true christian love</h2>
                    <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">Sing up</a>
                    <a class=" white_color text-dark btn btn-primary btn-xl rounded-pill mt-5 " href="#scroll">Login in</a>
                </div>
               
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>

        <!-- Content section 1-->
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'img/couple1.jpg' %}" alt="romantic couple picture" /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">For those about to rock...</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Content section 2-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'img/couple2.jpeg' %}" alt="couple picture" /></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2 class="display-4">We salute you!</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Content section 3-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'img/couple3.jpeg' %}" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Let there be rock!</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


{% endblock %}