{% extends "base.html" %}

{% load static %}

{% block content %}

{%load crispy_forms_tags %} 


<!-- Header-->
<header class="masthead text-center text-white pb-0">
    <div class="container">
        <div class="masthead-content container px-5">
            <div class="row flex-lg-row-reverse align-items-center g-5">

                <!-- register form -->
                <form method="post" action="{% url 'user:profile_create' %}">
                    {{ form|crispy }}
                </form>
                


            </div>
        </div>
    </div>
    </div>
    <!-- Pills content -->
</header>

{% endblock %}